body{
    background-image: "C:\Users\DELL\Desktop\EVA'S ASSIGMENT\IMAGES\mod1.jpg";
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.Blog-post-container-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.Blog-post-container-2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.Blog-post-container-3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
h1{
    text-align: center;
    color: green;
    margin-bottom: 40px;
    font-weight: bold;
}
.Blog-post-card-1{
    width: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0,  0.1) ;
    overflow: hidden;
    flex-shrink: 0;
}
.Blog-post-card-2{
    width: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0.1);
    overflow: hidden;
    flex-shrink: 0;
}
.Blog-post-card-3{
    width: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0.1);
    flex-shrink: 0;
    overflow: hidden;
}
.post-image-1{
width: 100%;    
height: auto;
position: relative;
object-fit: fill;
}
.post-image-2 {
width: 100%;    
height: auto;
position: relative;
object-fit: fill;
}
.post-image-3 {
width: 100%;    
height: auto;
position: relative;
object-fit: fill;
}

.post-image-label-1{
    color: deeppink;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.6;
}
.post-image-label-2{
    color: red;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.6;
}
.post-image-label-3{
     color: green;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.6;
}
.post-title-1{
    font-size: 1.5em;
    margin:0px 15px 15px;
    text-align: center;
    color: black;
    margin-bottom: 40px;
    font-weight: bold;
    padding: 10%;
}
.post-title-2{
    font-size: 1.5em;
    margin:0px 15px 15px;
    text-align: center;
    color: black;
    margin-bottom: 40px;
    font-weight: bold;
    padding: 10%;
}
.post-title-3{
 color: black;
 margin: 0px 15px 15px;
 line-height: 1.6;
 font-size: 1.5em;
 font-weight: bold;
}
.post-details-1{
    color: gray;
    margin: 0px 15px 15px;
    line-height: 1.6;
    font-size: 0.9em;
}
.post-details-2{
    color: gray;
    margin: 0px 15px 15px;
    line-height: 1.6;
    font-size: 0.9em;
}
.post-details-3{
    color: gray;
    margin: 0px 15px 15px;
    line-height: 1.6;
    font-size: 0.9em;
}
.post-footer-1{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: deeppink;
    font-size: 20px;
    align-content: center;
    color:azure;
    grid-template-columns: 1fr 1fr 1fr;
}
.post-footer-2{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: orangered;
    font-size: 20px; 
    align-content: center;
    color: azure;
    
}
.post-footer-3{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color:green;
    font-size: 20px;
    align-content: center;
    color: azure;
}
@media(max-width:768px){
    .Blog-post-card-1{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(max-width:768px){
    .Blog-post-card-2{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(max-width:768px){
    .Blog-post-card-3{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
.Blog-post-card-1{
    flex-direction: column;
    align-items: center;
}
.Blog-post-card-2{
    flex-direction: column;
    align-items: center;
}
.Blog-post-card-3{
    flex-direction: column;
    align-items: center;
}
